xsd/eFaps_1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

  Copyright 2003 - 2022 The eFaps Team

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.efaps.org/xsd"
    elementFormDefault="qualified"
    xmlns:eFaps="http://www.efaps.org/xsd">

    <!-- RootElements -->
    <xsd:element name="access-set">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="eFaps:AbstractBase">
                    <xsd:sequence>
                        <xsd:element name="definition" type="eFaps:definition_access-set" maxOccurs="unbounded" minOccurs="1" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="access-type">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="eFaps:AbstractBase">
                    <xsd:sequence>
                        <xsd:element name="definition" type="eFaps:definition_access-type" maxOccurs="unbounded" minOccurs="1" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="common-systemconfiguration">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="eFaps:AbstractBase">
                    <xsd:sequence>
                        <xsd:element name="definition" type="eFaps:definition_common-systemconfig" maxOccurs="unbounded" minOccurs="1" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="datamodel-dimension">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="eFaps:AbstractBase">
                    <xsd:sequence>
                        <xsd:element name="definition" type="eFaps:definition_datamodel-dimension" maxOccurs="unbounded" minOccurs="1" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="datamodel-statusgroup">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="eFaps:AbstractBase">
                    <xsd:sequence>
                        <xsd:element name="definition" type="eFaps:definition_datamodel-statusgroup" maxOccurs="unbounded" minOccurs="1" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="datamodel-sqltable">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="eFaps:AbstractBase">
                    <xsd:sequence>
                        <xsd:element name="definition" type="eFaps:definition_datamodel-sqltable" maxOccurs="unbounded" minOccurs="1" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="datamodel-type">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="eFaps:AbstractBase">
                    <xsd:sequence>
                        <xsd:element name="definition" type="eFaps:definition_datamodel-type" maxOccurs="unbounded" minOccurs="1" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="data-import">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="definition" type="eFaps:data-import-definition" maxOccurs="unbounded" minOccurs="1" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="data-import-definition">
        <xsd:sequence>
            <xsd:element name="identifier" type="eFaps:data-import-identifier" maxOccurs="1" minOccurs="0" />
            <xsd:element name="type" type="eFaps:data-import-type" maxOccurs="1" minOccurs="1" />
            <xsd:element name="row-listener" type="eFaps:data-import-row-listener" maxOccurs="unbounded" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="file" type="xsd:string" use="required" />
        <xsd:attribute name="keyColumn" type="xsd:string" use="optional" />
        <xsd:attribute name="skipLine" type="xsd:nonNegativeInteger" use="optional" default="0" />
        <xsd:attribute name="execute" type="xsd:boolean" use="optional" default="true" />
        <xsd:attribute name="force" type="xsd:boolean" use="optional" default="false" />
        <xsd:attribute name="accessCheck" type="xsd:boolean" use="optional" default="true" />
        <xsd:attribute name="trigger" type="xsd:boolean" use="optional" default="true" />
        <xsd:attribute name="update" type="xsd:boolean" use="optional" default="false" />
    </xsd:complexType>

    <xsd:complexType name="data-import-identifier">
        <xsd:sequence>
            <xsd:element name="property" type="eFaps:property" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="class" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="data-import-row-listener">
        <xsd:sequence>
            <xsd:element name="property" type="eFaps:property" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="class" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="data-import-type">
        <xsd:sequence>
            <xsd:element name="attribute" type="eFaps:data-import-attribute" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="classification" type="eFaps:data-import-classification" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="attribute-set" type="eFaps:data-import-attribute-set" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="column" type="xsd:string" use="optional" />
        <xsd:attribute name="validate" type="xsd:boolean" use="optional" default="true" />
        <xsd:attribute name="validateClass" type="xsd:string" use="optional" />
    </xsd:complexType>

    <xsd:element name="common-msgphrase">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="eFaps:AbstractBase">
                    <xsd:sequence>
                        <xsd:element name="definition" type="eFaps:definition_msgphrase" maxOccurs="unbounded" minOccurs="1" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="data-import-attribute-set">
         <xsd:sequence>
            <xsd:element name="property" type="eFaps:property" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="class" type="xsd:string" use="optional" />
        <xsd:attribute name="validateClass" type="xsd:string" use="optional" />
    </xsd:complexType>

    <xsd:complexType name="data-import-classification">
        <xsd:sequence>
            <xsd:element name="attribute" type="eFaps:data-import-attribute" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" />
        <xsd:attribute name="column" type="xsd:string" />
        <xsd:attribute name="validate" type="xsd:boolean" default="true" />
        <xsd:attribute name="validateClass" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="data-import-attribute">
        <xsd:sequence>
            <xsd:element name="property" type="eFaps:property" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="column" type="xsd:string" use="optional" />
        <xsd:attribute name="class" type="xsd:string" use="optional" />
        <xsd:attribute name="fixedValue" type="xsd:string" use="optional" />
        <xsd:attribute name="validateClass" type="xsd:string" use="optional" />
        <xsd:attribute name="validate" type="xsd:boolean" use="optional" default="true" />
        <xsd:attribute name="typeRegex" type="xsd:string" use="optional" />
        <xsd:attribute name="parentLink" type="xsd:boolean" use="optional" default="false" />
        <xsd:attribute name="overwrite" type="xsd:boolean" use="optional" default="false" />
    </xsd:complexType>

    <xsd:element name="db-store">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="eFaps:AbstractBase">
                    <xsd:sequence>
                        <xsd:element name="definition" type="eFaps:definition_db-store" maxOccurs="unbounded" minOccurs="1" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="dbproperties">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="eFaps:AbstractBase">
                    <xsd:sequence>
                        <xsd:element name="bundle" type="eFaps:bundle" maxOccurs="1" minOccurs="1" />
                        <xsd:element name="resource" type="eFaps:propertyResource" maxOccurs="unbounded" minOccurs="1" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="install">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="application" type="xsd:string" maxOccurs="1" minOccurs="1" />
                <xsd:element name="dependencies" type="eFaps:install_dependencies" maxOccurs="1" minOccurs="0" />
                <xsd:element name="version" type="eFaps:install_version" maxOccurs="unbounded" minOccurs="1" />
                <xsd:element name="files" type="eFaps:install_files" maxOccurs="unbounded" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>This elements are created automatically by the maven goal;
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="integration-webdav">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="eFaps:AbstractBase">
                    <xsd:sequence>
                        <xsd:element name="definition" type="eFaps:definition_integration-webdav" maxOccurs="unbounded" minOccurs="1" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="jasper-image">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="eFaps:AbstractBase">
                    <xsd:sequence>
                        <xsd:element name="definition" type="eFaps:definition_image" maxOccurs="unbounded" minOccurs="1" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="bpm-image">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="eFaps:AbstractBase">
                    <xsd:sequence>
                        <xsd:element name="definition" type="eFaps:definition_bpmimage" maxOccurs="unbounded" minOccurs="1" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="numbergenerator">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="eFaps:AbstractBase">
                    <xsd:sequence>
                        <xsd:element name="definition" type="eFaps:definition_numbergenerator" maxOccurs="unbounded" minOccurs="1" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="ui-command">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="eFaps:AbstractBase">
                    <xsd:sequence>
                        <xsd:element name="definition" type="eFaps:definition_ui-command" maxOccurs="unbounded" minOccurs="1" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="ui-form">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="eFaps:AbstractBase">
                    <xsd:sequence>
                        <xsd:element name="definition" type="eFaps:definition_ui-form" maxOccurs="unbounded" minOccurs="1" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ui-image">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="eFaps:AbstractBase">
                    <xsd:sequence>
                        <xsd:element name="definition" type="eFaps:definition_image" maxOccurs="unbounded" minOccurs="1" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="ui-menu">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="eFaps:AbstractBase">
                    <xsd:sequence>
                        <xsd:element name="definition" type="eFaps:definition_ui-menu" maxOccurs="unbounded" minOccurs="1" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="ui-search">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="eFaps:AbstractBase">
                    <xsd:sequence>
                        <xsd:element name="definition" type="eFaps:definition_ui-search" maxOccurs="unbounded" minOccurs="1" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="ui-table">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="eFaps:AbstractBase">
                    <xsd:sequence>
                        <xsd:element name="definition" type="eFaps:definition_ui-table" maxOccurs="unbounded" minOccurs="1" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="user-company">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="eFaps:AbstractBase">
                    <xsd:sequence>
                        <xsd:element name="definition" type="eFaps:definition_user-company" maxOccurs="unbounded" minOccurs="1" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="user-jaassystem">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="eFaps:AbstractBase">
                    <xsd:sequence>
                        <xsd:element name="definition" type="eFaps:definition_user-jaassystem" maxOccurs="unbounded" minOccurs="1" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="user-role">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="eFaps:AbstractBase">
                    <xsd:sequence>
                        <xsd:element name="definition" type="eFaps:definition_user-role" maxOccurs="unbounded" minOccurs="1" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="user-group">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="eFaps:AbstractBase">
                    <xsd:sequence>
                        <xsd:element name="definition" type="eFaps:definition_user-group" maxOccurs="unbounded" minOccurs="1" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="help-menu">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="eFaps:AbstractBase">
                    <xsd:sequence>
                        <xsd:element name="definition" type="eFaps:definition_help-menu" maxOccurs="unbounded" minOccurs="1" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="wiki-image">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="eFaps:AbstractBase">
                    <xsd:sequence>
                        <xsd:element name="definition" type="eFaps:definition_image" maxOccurs="unbounded" minOccurs="1" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <!-- Abstract Types -->
    <xsd:complexType name="AbstractBase" abstract="true">
        <xsd:sequence>
            <xsd:element name="uuid" type="xsd:string" maxOccurs="1" minOccurs="1" nillable="false" />
            <xsd:element name="file-application" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="description" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="specification" type="xsd:string" maxOccurs="1" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AbstractDefinition">
        <xsd:sequence>
            <xsd:element name="version-expression" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="application-dependencies" type="eFaps:application-dependencies" maxOccurs="1" minOccurs="0" />
            <xsd:element name="profiles" type="eFaps:profileType" maxOccurs="1" minOccurs="0" />
            <xsd:element name="name" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="parent" type="xsd:string" maxOccurs="1" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="application-dependencies">
        <xsd:sequence>
            <xsd:element name="application" maxOccurs="unbounded" minOccurs="1">
                <xsd:complexType>
                    <xsd:attribute name="name" type="xsd:string" use="required" />
                    <xsd:attribute name="exclude" type="xsd:boolean" use="optional" default="false" />
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="profileType">
        <xsd:sequence>
            <xsd:element name="profile" maxOccurs="unbounded" minOccurs="1">
                <xsd:complexType>
                    <xsd:attribute name="name" use="required" />
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Types -->
    <xsd:complexType name="access">
        <xsd:sequence>
            <xsd:element name="company" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
            <xsd:element name="group" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
            <xsd:element name="person" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
            <xsd:element name="role" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="accessStatus">
        <xsd:sequence>
            <xsd:element name="key" type="xsd:string" maxOccurs="unbounded" minOccurs="1" />
        </xsd:sequence>
        <xsd:attribute name="group" />
    </xsd:complexType>

    <xsd:complexType name="attribute">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="type" maxOccurs="1" minOccurs="1">
                <xsd:simpleType>
                    <xsd:union memberTypes="eFaps:attribute_type_enum"></xsd:union>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="typelink" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="dimensionUUID" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="className" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="sqltable" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="sqlcolumn" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="defaultvalue" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="validate" type="eFaps:validate" maxOccurs="unbounded" minOccurs="0" />
            <xsd:element name="trigger" type="eFaps:trigger4Attribute" maxOccurs="unbounded" minOccurs="0" />
            <xsd:element name="property" type="eFaps:property_attribute" maxOccurs="unbounded" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="attribute_type_enum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="AssociationLink" />
            <xsd:enumeration value="BitEnum" />
            <xsd:enumeration value="Boolean" />
            <xsd:enumeration value="Created" />
            <xsd:enumeration value="CreatorLink" />
            <xsd:enumeration value="CompanyLink" />
            <xsd:enumeration value="ConsortiumLink" />
            <xsd:enumeration value="Date" />
            <xsd:enumeration value="DateTime" />
            <xsd:enumeration value="Decimal" />
            <xsd:enumeration value="DecimalWithUoM" />
            <xsd:enumeration value="Enum" />
            <xsd:enumeration value="FormatedString" />
            <xsd:enumeration value="GroupLink" />
            <xsd:enumeration value="Integer" />
            <xsd:enumeration value="IntegerWithUoM" />
            <xsd:enumeration value="Jaxb" />
            <xsd:enumeration value="Link" />
            <xsd:enumeration value="LinkWithRanges" />
            <xsd:enumeration value="Long" />
            <xsd:enumeration value="Modified" />
            <xsd:enumeration value="ModifierLink" />
            <xsd:enumeration value="OID" />
            <xsd:enumeration value="Password" />
            <xsd:enumeration value="PersonLink" />
            <xsd:enumeration value="Rate" />
            <xsd:enumeration value="Real" />
            <xsd:enumeration value="Status" />
            <xsd:enumeration value="String" />
            <xsd:enumeration value="StringWithUoM" />
            <xsd:enumeration value="Time" />
            <xsd:enumeration value="Type" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="attributeset">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="type" maxOccurs="1" minOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="MultiLineArray" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="parent" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="sqltable" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="sqlcolumn" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="uuid" type="xsd:string" maxOccurs="1" minOccurs="1" nillable="false" />
            <xsd:element name="attribute" type="eFaps:attribute" maxOccurs="unbounded" minOccurs="0" />
            <xsd:element name="trigger" type="eFaps:trigger4AttributeSet" maxOccurs="unbounded" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="bundle">
        <xsd:attribute name="name" type="xsd:string" />
        <xsd:attribute name="sequence" type="xsd:string" />
        <xsd:attribute name="cacheOnStart" type="xsd:boolean" default="false" use="optional" />
    </xsd:complexType>

    <xsd:complexType name="childs">
        <xsd:sequence>
            <xsd:element name="child" type="xsd:string" maxOccurs="unbounded" minOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="parents">
        <xsd:sequence>
            <xsd:element name="parent" type="xsd:string" maxOccurs="unbounded" minOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="column">
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="type" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="BOOLEAN" />
                    <xsd:enumeration value="BLOB" />
                    <xsd:enumeration value="CLOB" />
                    <xsd:enumeration value="DATETIME" />
                    <xsd:enumeration value="DECIMAL" />
                    <xsd:enumeration value="INTEGER" />
                    <xsd:enumeration value="REAL" />
                    <xsd:enumeration value="STRING_LONG" />
                    <xsd:enumeration value="STRING_SHORT" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="length" type="xsd:integer" use="optional" />
        <xsd:attribute name="not-null" type="xsd:boolean" use="optional" />
        <xsd:attribute name="scale" type="xsd:integer" use="optional" />
    </xsd:complexType>

    <xsd:complexType name="configAttribute">
        <xsd:sequence>
            <xsd:element name="key" type="xsd:string" maxOccurs="1" />
            <xsd:element name="value" type="xsd:string" maxOccurs="1" />
            <xsd:element name="company" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="description" type="xsd:string" maxOccurs="1" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="update" use="optional">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Default" />
                    <xsd:enumeration value="Force" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="database">
        <xsd:sequence>
            <xsd:element name="table-name" type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element name="view-name" type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element name="parent-table" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="column" type="eFaps:column" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="unique" type="eFaps:unique" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="foreign" type="eFaps:foreign" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="sql" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="default">
        <xsd:sequence>
            <xsd:element name="command" type="xsd:string" maxOccurs="1" minOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="definition_access-set">
        <xsd:complexContent>
            <xsd:extension base="eFaps:AbstractDefinition">
                <xsd:sequence>
                    <xsd:element name="access-type" type="xsd:string" maxOccurs="unbounded" minOccurs="1" />
                    <xsd:element name="type" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="status" type="eFaps:accessStatus" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="role" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="definition_msgphrase">
        <xsd:complexContent>
            <xsd:extension base="eFaps:AbstractDefinition">
                <xsd:sequence>
                    <xsd:element name="label" type="eFaps:msgphrase_label" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                    <xsd:element name="argument" type="eFaps:msgphrase_argument" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="msgphrase_label">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="language" type="xsd:string" use="optional" />
                <xsd:attribute name="company" type="xsd:string" use="optional" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="msgphrase_argument">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="index" type="xsd:nonNegativeInteger" use="required" />
                <xsd:attribute name="language" type="xsd:string" use="optional" />
                <xsd:attribute name="company" type="xsd:string" use="optional" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="definition_access-type">
        <xsd:complexContent>
            <xsd:extension base="eFaps:AbstractDefinition"></xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="definition_common-systemconfig">
        <xsd:complexContent>
            <xsd:extension base="eFaps:AbstractDefinition">
                <xsd:sequence>
                    <xsd:element name="attribute" type="eFaps:configAttribute" maxOccurs="unbounded" minOccurs="0" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="definition_datamodel-dimension">
        <xsd:complexContent>
            <xsd:extension base="eFaps:AbstractDefinition">
                <xsd:sequence>
                    <xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="uom" type="eFaps:uoM" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="definition_datamodel-sqltable">
        <xsd:complexContent>
            <xsd:extension base="eFaps:AbstractDefinition">
                <xsd:sequence>
                    <xsd:element name="typeid-column" type="xsd:string" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="database" type="eFaps:database" maxOccurs="1" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="definition_datamodel-statusgroup">
        <xsd:complexContent>
            <xsd:extension base="eFaps:AbstractDefinition">
                <xsd:sequence>
                    <xsd:element name="status" type="eFaps:statusgroupStatus" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="definition_datamodel-type">
        <xsd:complexContent>
            <xsd:extension base="eFaps:AbstractDefinition">
                <xsd:sequence>
                    <xsd:element name="purpose" type="eFaps:typePurpose" minOccurs="0" maxOccurs="1" />
                    <xsd:group ref="eFaps:attributeGroup" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="trigger" type="eFaps:trigger4Type" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="property" type="eFaps:property_datamodel-type" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="event-for" type="eFaps:event-for" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element name="store" type="eFaps:typeStore" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="classifies" type="eFaps:typeClassifies" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="index" type="eFaps:index" minOccurs="0" maxOccurs="1" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="index">
        <xsd:sequence>
            <xsd:element name="field" type="eFaps:indexField" maxOccurs="unbounded" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="msgPhrase" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="indexField">
        <xsd:attribute name="id" type="xsd:string" use="required" />
        <xsd:attribute name="key" type="xsd:string" use="required" />
        <xsd:attribute name="select" type="xsd:string" use="required" />
        <xsd:attribute name="type" type="eFaps:indexFieldType" use="required" />
        <xsd:attribute name="transform" type="xsd:string" use="optional" />
    </xsd:complexType>

    <xsd:simpleType name="indexFieldType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="LONG" />
            <xsd:enumeration value="SEARCHLONG" />
            <xsd:enumeration value="SEARCHSTRING" />
            <xsd:enumeration value="SEARCHTEXT" />
            <xsd:enumeration value="STORED" />
            <xsd:enumeration value="STRING" />
            <xsd:enumeration value="TEXT" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="definition_db-store">
        <xsd:complexContent>
            <xsd:extension base="eFaps:AbstractDefinition">
                <xsd:sequence>
                    <xsd:element name="jndi-name" type="xsd:string" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="resource" type="eFaps:storeResource" minOccurs="1" maxOccurs="1" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="definition_integration-webdav">
        <xsd:complexContent>
            <xsd:extension base="eFaps:AbstractDefinition">
                <xsd:sequence>
                    <xsd:element name="path" type="xsd:string" maxOccurs="1" minOccurs="1" />
                    <xsd:element name="property" type="eFaps:property" maxOccurs="unbounded" minOccurs="0" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="definition_numbergenerator">
        <xsd:complexContent>
            <xsd:extension base="eFaps:AbstractDefinition">
                <xsd:sequence>
                    <xsd:element name="format" type="xsd:string" maxOccurs="1" minOccurs="1" />
                    <xsd:element name="startvalue" type="xsd:string" maxOccurs="1" minOccurs="1" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="definition_ui-command">
        <xsd:complexContent>
            <xsd:extension base="eFaps:AbstractDefinition">
                <xsd:sequence>
                    <xsd:element name="icon" type="xsd:string" maxOccurs="1" minOccurs="0" />
                    <xsd:element name="access" type="eFaps:access" maxOccurs="1" minOccurs="0" />
                    <xsd:element name="target" type="eFaps:target" maxOccurs="1" minOccurs="0" />
                    <xsd:element name="parents" type="eFaps:parents" maxOccurs="1" minOccurs="0" />
                    <xsd:element name="trigger" type="eFaps:trigger4UI" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="property" type="eFaps:property_ui-command" maxOccurs="unbounded" minOccurs="0" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="definition_ui-form">
        <xsd:complexContent>
            <xsd:extension base="eFaps:AbstractDefinition">
                <xsd:sequence>
                    <xsd:element name="type" type="xsd:string" maxOccurs="1" minOccurs="0" />
                    <xsd:element name="field" type="eFaps:formfield" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="trigger" type="eFaps:trigger4Form" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="property" type="eFaps:property_ui-form" maxOccurs="unbounded" minOccurs="0" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="definition_ui-module">
        <xsd:complexContent>
            <xsd:extension base="eFaps:AbstractDefinition">
                <xsd:sequence>
                    <xsd:element name="property" type="eFaps:property_ui-module" maxOccurs="unbounded" minOccurs="0" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:complexType name="definition_image">
        <xsd:complexContent>
            <xsd:extension base="eFaps:AbstractDefinition">
                <xsd:sequence>
                    <xsd:element name="file" type="xsd:string" maxOccurs="1" minOccurs="1" />
                    <xsd:element name="type" type="xsd:string" maxOccurs="1" minOccurs="0" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="definition_bpmimage">
        <xsd:complexContent>
            <xsd:extension base="eFaps:AbstractDefinition">
                <xsd:sequence>
                    <xsd:element name="file" type="xsd:string" maxOccurs="1" minOccurs="1" />
                    <xsd:element name="processId" type="xsd:string" maxOccurs="1" minOccurs="0" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="definition_ui-menu">
        <xsd:complexContent>
            <xsd:extension base="eFaps:AbstractDefinition">
                <xsd:sequence>
                    <xsd:element name="icon" type="xsd:string" maxOccurs="1" minOccurs="0" />
                    <xsd:element name="access" type="eFaps:access" maxOccurs="1" minOccurs="0" />
                    <xsd:element name="target" type="eFaps:target" maxOccurs="1" minOccurs="0" />
                    <xsd:element name="type" type="xsd:string" maxOccurs="1" minOccurs="0" />
                    <xsd:element name="childs" type="eFaps:childs" maxOccurs="1" minOccurs="0" />
                    <xsd:element name="parents" type="eFaps:parents" maxOccurs="1" minOccurs="0" />
                    <xsd:element name="trigger" type="eFaps:trigger4UI" maxOccurs="unbounded" minOccurs="0" />
                    <xsd:element name="property" type="eFaps:property_ui-command" maxOccurs="unbounded" minOccurs="0" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="definition_ui-search">
        <xsd:complexContent>
            <xsd:extension base="eFaps:AbstractDefinition">
                <xsd:sequence>
                    <xsd:element name="icon" type="xsd:string" maxOccurs="1" minOccurs="0" />
                    <xsd:element name="default" type="eFaps:default" maxOccurs="1" minOccurs="0" />
                    <xsd:element name="childs" type="eFaps:childs" maxOccurs="1" minOccurs="0" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="definition_ui-table">
        <xsd:complexContent>
            <xsd:extension base="eFaps:AbstractDefinition">
                <xsd:sequence>
                    <xsd:element name="field" type="eFaps:tablefield" maxOccurs="unbounded" minOccurs="0" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="definition_user-company">
        <xsd:complexContent>
            <xsd:extension base="eFaps:AbstractDefinition">
                <xsd:sequence>
                    <xsd:element name="status" type="xsd:boolean" maxOccurs="1" minOccurs="1" default="false" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="definition_user-jaassystem">
        <xsd:complexContent>
            <xsd:extension base="eFaps:AbstractDefinition">
                <xsd:sequence>
                    <xsd:element name="person" type="eFaps:person" maxOccurs="1" minOccurs="1" />
                    <xsd:element name="role" type="eFaps:jaassystem_role-group" maxOccurs="1" minOccurs="1" />
                    <xsd:element name="group" type="eFaps:jaassystem_role-group" maxOccurs="1" minOccurs="1" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="definition_user-role">
        <xsd:complexContent>
            <xsd:extension base="eFaps:AbstractDefinition">
                <xsd:sequence>
                    <xsd:element name="status" type="xsd:boolean" maxOccurs="1" minOccurs="1" default="false" />
                    <xsd:element name="global" type="xsd:boolean" maxOccurs="1" minOccurs="1" default="true" />
                    <xsd:element name="access" type="eFaps:definition_user-role_access" maxOccurs="1" minOccurs="0" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="definition_user-role_access">
        <xsd:sequence>
            <xsd:element name="datamodel" type="eFaps:definition_user-role_access_datamodel" maxOccurs="1" minOccurs="0" />
            <xsd:element name="userinterface" type="eFaps:definition_user-role_access_userinterface" maxOccurs="1" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="definition_user-role_access_datamodel">
        <xsd:sequence>
            <xsd:element name="accessset" type="xsd:string" maxOccurs="unbounded" minOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="definition_user-role_access_userinterface">
        <xsd:sequence>
            <xsd:element name="cmd" type="xsd:string" maxOccurs="unbounded" minOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="definition_user-group">
        <xsd:complexContent>
            <xsd:extension base="eFaps:AbstractDefinition">
                <xsd:sequence>
                    <xsd:element name="status" type="xsd:boolean" maxOccurs="1" minOccurs="1" default="false" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="definition_help-menu">
        <xsd:complexContent>
            <xsd:extension base="eFaps:AbstractDefinition">
                <xsd:sequence>
                    <xsd:element name="target" type="eFaps:help-target" maxOccurs="1" minOccurs="0" />
                    <xsd:element name="childs" type="eFaps:childs" maxOccurs="1" minOccurs="0" />
                    <xsd:element name="property" type="eFaps:property_ui-command" maxOccurs="unbounded" minOccurs="0" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="evaluate">
        <xsd:sequence>
            <xsd:element name="property" type="eFaps:property" maxOccurs="unbounded" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="program" type="xsd:string" use="required" />
        <xsd:attribute name="method" type="xsd:string" use="optional" />
    </xsd:complexType>

    <xsd:complexType name="event-for">
        <xsd:attribute name="type" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="execute">
        <xsd:sequence>
            <xsd:element name="property" type="eFaps:property" maxOccurs="unbounded" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="program" type="xsd:string" />
        <xsd:attribute name="method" type="xsd:string" use="optional" default="execute" />
        <xsd:attribute name="index" type="xsd:nonNegativeInteger" use="optional" default="0" />
    </xsd:complexType>

    <xsd:complexType name="formfield">
        <xsd:sequence>
            <xsd:element name="property" type="eFaps:property_formfield" maxOccurs="unbounded" minOccurs="0" />
            <xsd:element name="icon" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="picker" type="eFaps:picker" maxOccurs="1" minOccurs="0" />
            <xsd:element name="trigger" type="eFaps:trigger4UI" maxOccurs="unbounded" minOccurs="0" />
            <xsd:element name="table" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="evaluate" type="eFaps:evaluate" maxOccurs="1" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="character" use="optional">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Classification" />
                    <xsd:enumeration value="Command" />
                    <xsd:enumeration value="Group" />
                    <xsd:enumeration value="Heading" />
                    <xsd:enumeration value="Picker" />
                    <xsd:enumeration value="Set" />
                    <xsd:enumeration value="Target" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="tablefield">
        <xsd:sequence>
            <xsd:element name="icon" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="property" type="eFaps:property_tablefield" maxOccurs="unbounded" minOccurs="0" />
            <xsd:element name="picker" type="eFaps:picker" maxOccurs="1" minOccurs="0" />
            <xsd:element name="trigger" type="eFaps:trigger4UI" maxOccurs="unbounded" minOccurs="0" />
            <xsd:element name="evaluate" type="eFaps:evaluate" maxOccurs="1" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="foreign">
        <xsd:attribute name="name" type="xsd:string" />
        <xsd:attribute name="key" type="xsd:string" />
        <xsd:attribute name="reference" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="install_script">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" use="required">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="groovy" />
                            <xsd:enumeration value="rhino" />
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="name" type="xsd:string" use="optional" />
                <xsd:attribute name="function" type="xsd:string" use="optional" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="install_dependencies">
        <xsd:sequence>
            <xsd:element name="dependency" maxOccurs="unbounded" minOccurs="1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="groupId" minOccurs="1" maxOccurs="1" type="xsd:string" />
                        <xsd:element name="artifactId" minOccurs="1" maxOccurs="1" type="xsd:string" />
                        <xsd:element name="version" minOccurs="1" maxOccurs="1" type="xsd:string" />
                        <xsd:element name="profiles" minOccurs="0" maxOccurs="1" type="eFaps:profileType" />
                    </xsd:sequence>
                    <xsd:attribute name="order" type="xsd:string" use="required" />
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="install_files">
        <xsd:sequence>
            <xsd:element name="file" maxOccurs="unbounded" minOccurs="1">
                <xsd:complexType>
                    <xsd:attribute name="name" type="xsd:string" use="required" />
                    <xsd:attribute name="type" type="xsd:string" use="required" />
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="install_lifecycle">
        <xsd:sequence>
            <xsd:element name="ignore" maxOccurs="unbounded" minOccurs="1">
                <xsd:complexType>
                    <xsd:attribute name="step">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="SQL_CREATE_TABLE" />
                                <xsd:enumeration value="SQL_UPDATE_ID" />
                                <xsd:enumeration value="SQL_UPDATE_TABLE" />
                                <xsd:enumeration value="SQL_RUN_SCRIPT" />
                                <xsd:enumeration value="STATUSGROUP_CREATE" />
                                <xsd:enumeration value="STATUSGROUP_UPDATE" />
                                <xsd:enumeration value="STATUS_CREATE" />
                                <xsd:enumeration value="EFAPS_CREATE" />
                                <xsd:enumeration value="EFAPS_UPDATE" />
                                <xsd:enumeration value="DBPROPERTIES_UPDATE" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="install_version">
        <xsd:sequence>
            <xsd:element name="description" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
            <xsd:element name="lifecyle" type="eFaps:install_lifecycle" maxOccurs="1" minOccurs="0" />
            <xsd:element name="script" type="eFaps:install_script" maxOccurs="unbounded" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="number" type="xsd:integer" use="required" />
        <xsd:attribute name="reloadCache" type="xsd:boolean" use="optional" default="false" />
        <xsd:attribute name="login" type="xsd:boolean" use="optional" default="true" />
        <xsd:attribute name="compile" type="xsd:boolean" use="optional" default="false" />
    </xsd:complexType>

    <xsd:complexType name="person">
        <xsd:sequence>
            <xsd:element name="classname" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="key-method" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="name-method" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="firstname-method" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="lastname-method" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="email-method" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="organisation-method" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="url-method" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="phone-method" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="mobile-method" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="fax-method" type="xsd:string" maxOccurs="1" minOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="picker">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" use="required" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="property">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" use="required" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="propertiesOverwrite">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="systemConfig" use="required" />
                <xsd:attribute name="attribute" use="required" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="property_attribute">
        <xsd:annotation>
            <xsd:documentation> Used to define properties on attribute</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" use="required">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="CurrencyAttribute4Rate" />
                            <xsd:enumeration value="TargetCurrencyAttribute4Rate" />
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="property_datamodel-type">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" use="required">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <!-- all properties where replaced by other xml tags -->
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="property_tablefield">
        <xsd:annotation>
            <xsd:documentation> Used to define properties on fields which are used to define a field with expressions,
                label etc.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" use="required">
                    <xsd:simpleType>
                        <xsd:union memberTypes="xsd:string eFaps:property_tablefield_enum"></xsd:union>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="property_tablefield_enum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Attribute" />
            <xsd:enumeration value="Align" />
            <xsd:enumeration value="Aggregate" />
            <xsd:enumeration value="CmdAppend" />
            <xsd:enumeration value="CmdIcon" />
            <xsd:enumeration value="CmdTargetField" />
            <xsd:enumeration value="CmdRenderButton" />
            <xsd:enumeration value="Classification" />
            <xsd:enumeration value="Columns" />
            <xsd:enumeration value="Collapsed" />
            <xsd:enumeration value="FilterType" />
            <xsd:enumeration value="FilterRequired" />
            <xsd:enumeration value="FilterBase" />
            <xsd:enumeration value="FilterDefault" />
            <xsd:enumeration value="FilterAttributes" />
            <xsd:enumeration value="FilterCmd" />
            <xsd:enumeration value="GroupCount" />
            <xsd:enumeration value="HideLabel" />
            <xsd:enumeration value="HRef" />
            <xsd:enumeration value="Label" />
            <xsd:enumeration value="Level" />
            <xsd:enumeration value="ModeCreate" />
            <xsd:enumeration value="ModeEdit" />
            <xsd:enumeration value="ModePrint" />
            <xsd:enumeration value="ModeSearch" />
            <xsd:enumeration value="ModeView" />
            <xsd:enumeration value="MsgPhrase" />
            <xsd:enumeration value="NumberMinimum" />
            <xsd:enumeration value="NumberMaximum" />
            <xsd:enumeration value="NumberStep" />
            <xsd:enumeration value="Order" />
            <xsd:enumeration value="Phrase" />
            <xsd:enumeration value="Required" />
            <xsd:enumeration value="Rows" />
            <xsd:enumeration value="RowSpan" />
            <xsd:enumeration value="Select" />
            <xsd:enumeration value="SelectAlternateOID" />
            <xsd:enumeration value="ShowTypeIcon" />
            <xsd:enumeration value="ShowNumbering" />
            <xsd:enumeration value="SortAble" />
            <xsd:enumeration value="SortPhrase" />
            <xsd:enumeration value="SortMsgPhrase" />
            <xsd:enumeration value="SortSelect" />
            <xsd:enumeration value="Target" />
            <xsd:enumeration value="TargetStructurBrowserField" />
            <xsd:enumeration value="TargetStructurBrowserForceExpand" />
            <xsd:enumeration value="TargetShowCheckBoxes" />
            <xsd:enumeration value="TargetDeactivateDnD" />
            <xsd:enumeration value="UIProvider" />
            <xsd:enumeration value="UIType" />
            <xsd:enumeration value="Width" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="property_formfield">
        <xsd:annotation>
            <xsd:documentation> Used to define properties on fields which are used to define a field with expressions,
                label etc.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" use="required">
                    <xsd:simpleType>
                        <xsd:union memberTypes="xsd:string eFaps:property_formfield_enum"></xsd:union>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="property_formfield_enum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Attribute" />
            <xsd:enumeration value="Align" />
            <xsd:enumeration value="CmdAppend" />
            <xsd:enumeration value="CmdIcon" />
            <xsd:enumeration value="CmdTargetField" />
            <xsd:enumeration value="CmdRenderButton" />
            <xsd:enumeration value="Classification" />
            <xsd:enumeration value="Columns" />
            <xsd:enumeration value="Collapsed" />
            <xsd:enumeration value="ColSpan" />
            <xsd:enumeration value="FilterType" />
            <xsd:enumeration value="FilterRequired" />
            <xsd:enumeration value="FilterBase" />
            <xsd:enumeration value="FilterDefault" />
            <xsd:enumeration value="FilterAttributes" />
            <xsd:enumeration value="FilterCmd" />
            <xsd:enumeration value="GroupCount" />
            <xsd:enumeration value="HideLabel" />
            <xsd:enumeration value="HRef" />
            <xsd:enumeration value="Label" />
            <xsd:enumeration value="Level" />
            <xsd:enumeration value="ModeCreate" />
            <xsd:enumeration value="ModeEdit" />
            <xsd:enumeration value="ModePrint" />
            <xsd:enumeration value="ModeSearch" />
            <xsd:enumeration value="ModeView" />
            <xsd:enumeration value="MsgPhrase" />
            <xsd:enumeration value="NumberMinimum" />
            <xsd:enumeration value="NumberMaximum" />
            <xsd:enumeration value="NumberStep" />
            <xsd:enumeration value="Order" />
            <xsd:enumeration value="Phrase" />
            <xsd:enumeration value="Required" />
            <xsd:enumeration value="Rows" />
            <xsd:enumeration value="RowSpan" />
            <xsd:enumeration value="RadioRowLength" />
            <xsd:enumeration value="Select" />
            <xsd:enumeration value="SelectAlternateOID" />
            <xsd:enumeration value="ShowTypeIcon" />
            <xsd:enumeration value="Target" />
            <xsd:enumeration value="TargetStructurBrowserField" />
            <xsd:enumeration value="TargetStructurBrowserForceExpand" />
            <xsd:enumeration value="TargetShowCheckBoxes" />
            <xsd:enumeration value="TargetDeactivateDnD" />
            <xsd:enumeration value="UIProvider" />
            <xsd:enumeration value="UIType" />
            <xsd:enumeration value="Width" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="property_storeResource">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" use="required">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="JDBCBlob" />
                            <xsd:enumeration value="JDBCKey" />
                            <xsd:enumeration value="JDBCTable" />
                            <xsd:enumeration value="VFSUseTypeIdInPath" />
                            <xsd:enumeration value="VFSNumberSubDirectories" />
                            <xsd:enumeration value="VFSNumberBackups" />
                            <xsd:enumeration value="VFSBaseName" />
                            <xsd:enumeration value="VFSProvider" />
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="property_ui-form">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" use="required">
                    <xsd:simpleType>
                        <xsd:union memberTypes="xsd:string eFaps:property_ui-form_enum"></xsd:union>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>


    <xsd:simpleType name="property_ui-form_enum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Weight" />
            <xsd:enumeration value="MultiPart" />
        </xsd:restriction>
    </xsd:simpleType>

   <xsd:complexType name="property_ui-module">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" use="required">
                    <xsd:simpleType>
                        <xsd:union memberTypes="xsd:string eFaps:property_ui-module_enum"></xsd:union>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="property_ui-module_enum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ModuleKey" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="property_ui-command">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" use="required">
                    <xsd:simpleType>
                        <xsd:union memberTypes="xsd:string eFaps:property_ui-command_enum"></xsd:union>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="property_ui-command_enum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="AskUser" />
            <xsd:enumeration value="DefaultSelected" />
            <xsd:enumeration value="HRef" />
            <xsd:enumeration value="NoUpdateAfterCOMMAND" />
            <xsd:enumeration value="Label" />
            <xsd:enumeration value="Submit" />
            <xsd:enumeration value="SubmitSelectedRows" />
            <xsd:enumeration value="SuccessDialog" />
            <xsd:enumeration value="Target" />
            <xsd:enumeration value="TargetCmdRevise" />
            <xsd:enumeration value="TargetCreateType" />
            <xsd:enumeration value="TargetCreateClassifications" />
            <xsd:enumeration value="TargetConnectAttribute" />
            <xsd:enumeration value="TargetDefaultMenu" />
            <xsd:enumeration value="TargetTitle" />
            <xsd:enumeration value="TargetMode" />
            <xsd:enumeration value="TargetShowCheckBoxes" />
            <xsd:enumeration value="TargetShowFile" />
            <xsd:enumeration value="TargetStructurBrowser" />
            <xsd:enumeration value="TargetStructurBrowserField" />
            <xsd:enumeration value="TargetTableSortKey" />
            <xsd:enumeration value="TargetDeactivateDnD" />
            <xsd:enumeration value="TargetTableType" />
            <xsd:enumeration value="WindowHeight" />
            <xsd:enumeration value="WindowWidth" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="propertyResource">
        <xsd:sequence>
            <xsd:element name="type" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="language" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="file" type="xsd:string" maxOccurs="1" minOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="statusgroupStatus">
        <xsd:sequence>
            <xsd:element name="description" maxOccurs="1" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="key" use="required" />
    </xsd:complexType>

    <xsd:complexType name="storeResource">
        <xsd:sequence>
            <xsd:element name="property" type="eFaps:property_storeResource" maxOccurs="unbounded" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="class" use="required" />
        <xsd:attribute name="compress" use="required" />
    </xsd:complexType>

    <xsd:complexType name="jaassystem_role-group">
        <xsd:sequence>
            <xsd:element name="classname" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="key-method" type="xsd:string" maxOccurs="1" minOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="target">
        <xsd:sequence>
            <xsd:element name="menu" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="form" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="search" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="table" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="evaluate" type="eFaps:execute" maxOccurs="1" minOccurs="0" />
            <xsd:element name="execute" type="eFaps:execute" maxOccurs="unbounded" minOccurs="0" />
            <xsd:element name="instance" type="eFaps:execute" maxOccurs="1" minOccurs="0" />
            <xsd:element name="validate" type="eFaps:validate" maxOccurs="unbounded" minOccurs="0" />
            <xsd:element name="trigger" type="eFaps:trigger4Target" maxOccurs="unbounded" minOccurs="0" />
            <xsd:element name="command" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="help" type="xsd:string" maxOccurs="1" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="typePurpose">
        <xsd:sequence>
            <xsd:element name="LinkColumn" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="parent" type="xsd:string" maxOccurs="1" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="classification" type="xsd:boolean" />
        <xsd:attribute name="abstract" type="xsd:boolean" default="false" />
        <xsd:attribute name="GeneralInstance" type="xsd:boolean" default="false" />
        <xsd:attribute name="history" type="xsd:boolean" default="false" />
    </xsd:complexType>

    <xsd:complexType name="typeStore">
        <xsd:attribute name="name" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="typeClassifies">
        <xsd:sequence>
            <xsd:element name="company" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string" use="required" />
        <xsd:attribute name="relType" type="xsd:string" use="required" />
        <xsd:attribute name="relLinkAttribute" type="xsd:string" use="required" />
        <xsd:attribute name="relTypeAttribute" type="xsd:string" use="required" />
        <xsd:attribute name="multipleSelect" type="xsd:string" use="optional" />
    </xsd:complexType>

    <xsd:complexType name="trigger4Form">
        <xsd:sequence>
            <xsd:element name="property" type="eFaps:property" maxOccurs="unbounded" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="event" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="UI_ACCESSCHECK" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="program" type="xsd:string" use="required" />
        <xsd:attribute name="method" type="xsd:string" use="optional" default="execute" />
        <xsd:attribute name="index" type="xsd:integer" use="optional" default="1" />
    </xsd:complexType>

    <xsd:complexType name="trigger4Attribute">
        <xsd:sequence>
            <xsd:element name="property" type="eFaps:property" maxOccurs="unbounded" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="event" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="READ_VALUE" />
                    <xsd:enumeration value="UPDATE_VALUE" />
                    <xsd:enumeration value="INSERT_VALUE" />
                    <xsd:enumeration value="RATE_VALUE" />
                    <xsd:enumeration value="RANGE_VALUE" />
                    <xsd:enumeration value="VALIDATE" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="program" type="xsd:string" use="required" />
        <xsd:attribute name="method" type="xsd:string" use="optional" default="execute" />
        <xsd:attribute name="index" type="xsd:integer" use="optional" default="1" />
    </xsd:complexType>

    <xsd:complexType name="trigger4Target">
        <xsd:sequence>
            <xsd:element name="property" type="eFaps:property" maxOccurs="unbounded" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="event" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="UI_ACCESSCHECK" />
                    <xsd:enumeration value="UI_PICKER" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="program" type="xsd:string" use="required" />
        <xsd:attribute name="method" type="xsd:string" use="optional" default="execute" />
        <xsd:attribute name="index" type="xsd:integer" use="optional" default="1" />
    </xsd:complexType>


    <xsd:complexType name="trigger4Type">
        <xsd:sequence>
            <xsd:element name="property" type="eFaps:property" maxOccurs="unbounded" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="event" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ACCESSCHECK" />
                    <xsd:enumeration value="CHECKIN_OVERRIDE" />
                    <xsd:enumeration value="CHECKIN_POST" />
                    <xsd:enumeration value="CHECKIN_PRE" />
                    <xsd:enumeration value="CHECKOUT_OVERRIDE" />
                    <xsd:enumeration value="CHECKOUT_POST" />
                    <xsd:enumeration value="CHECKOUT_PRE" />
                    <xsd:enumeration value="DELETE_OVERRIDE" />
                    <xsd:enumeration value="DELETE_POST" />
                    <xsd:enumeration value="DELETE_PRE" />
                    <xsd:enumeration value="INSERT_OVERRIDE" />
                    <xsd:enumeration value="INSERT_POST" />
                    <xsd:enumeration value="INSERT_PRE" />
                    <xsd:enumeration value="UPDATE_OVERRIDE" />
                    <xsd:enumeration value="UPDATE_POST" />
                    <xsd:enumeration value="UPDATE_PRE" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="program" type="xsd:string" use="required" />
        <xsd:attribute name="method" type="xsd:string" use="optional" default="execute" />
        <xsd:attribute name="index" type="xsd:integer" use="optional" default="1" />
    </xsd:complexType>

    <xsd:complexType name="trigger4UI">
        <xsd:sequence>
            <xsd:element name="propertiesOverwrite" type="eFaps:propertiesOverwrite" maxOccurs="1" minOccurs="0" />
            <xsd:element name="property" type="eFaps:property" maxOccurs="unbounded" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="event" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="UI_ACCESSCHECK" />
                    <xsd:enumeration value="UI_COMMAND_EXECUTE" />
                    <xsd:enumeration value="UI_FIELD_AUTOCOMPLETE" />
                    <xsd:enumeration value="UI_FIELD_CMD" />
                    <xsd:enumeration value="UI_FIELD_FORMAT" />
                    <xsd:enumeration value="UI_FIELD_ALTINST" />
                    <xsd:enumeration value="UI_FIELD_VALUE" />
                    <xsd:enumeration value="UI_FIELD_UPDATE" />
                    <xsd:enumeration value="UI_TABLE_EVALUATE" />
                    <xsd:enumeration value="UI_VALIDATE" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="program" type="xsd:string" use="required" />
        <xsd:attribute name="method" type="xsd:string" use="optional" default="execute" />
        <xsd:attribute name="index" type="xsd:integer" use="optional" default="1" />
    </xsd:complexType>

    <xsd:complexType name="trigger4AttributeSet">
        <xsd:sequence>
            <xsd:element name="property" type="eFaps:property" maxOccurs="unbounded" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="event" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="DELETE_OVERRIDE" />
                    <xsd:enumeration value="DELETE_POST" />
                    <xsd:enumeration value="DELETE_PRE" />
                    <xsd:enumeration value="INSERT_OVERRIDE" />
                    <xsd:enumeration value="INSERT_POST" />
                    <xsd:enumeration value="INSERT_PRE" />
                    <xsd:enumeration value="UPDATE_OVERRIDE" />
                    <xsd:enumeration value="UPDATE_POST" />
                    <xsd:enumeration value="UPDATE_PRE" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="program" type="xsd:string" use="required" />
        <xsd:attribute name="method" type="xsd:string" use="optional" default="execute" />
        <xsd:attribute name="index" type="xsd:integer" use="optional" default="1" />
    </xsd:complexType>

    <xsd:complexType name="unique">
        <xsd:attribute name="name" type="xsd:string" />
        <xsd:attribute name="columns" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="uoM">
        <xsd:sequence>
            <xsd:element name="base" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="symbol" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="name" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="code" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="numerator" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="denominator" type="xsd:string" maxOccurs="1" minOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="validate">
        <xsd:sequence>
            <xsd:element name="property" type="eFaps:property" maxOccurs="unbounded" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="program" type="xsd:string" use="required" />
        <xsd:attribute name="method" type="xsd:string" use="optional" default="execute" />
        <xsd:attribute name="index" type="xsd:nonNegativeInteger" use="optional" default="0" />
    </xsd:complexType>

    <xsd:complexType name="help-target">
        <xsd:sequence>
            <xsd:element name="wiki" type="xsd:string" maxOccurs="1" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:group name="attributeGroup">
        <xsd:choice>
            <xsd:element name="attribute" type="eFaps:attribute" maxOccurs="unbounded" minOccurs="0" />
            <xsd:element name="attributeset" type="eFaps:attributeset" maxOccurs="unbounded" minOccurs="0" />
        </xsd:choice>
    </xsd:group>
</xsd:schema>
